<nav id="nav">
    <h1><a href="/" title="go to Main"><img src="/assets/logo2.png" alt="logo"></a></h1>
    <ul>
        <% if user_signed_in? %>
            <li><a href="/users/sign_out">log out</a> </li>
        <% end %>
    </ul>
</nav>